<nav>
  <a class="nav-logo" href="/" aria-label="Elizabeth Scott home" style="color:var(--ice)">
    <svg viewBox="0 0 5605 1152"><use href="#es-wordmark"/></svg>
  </a>
  <ul class="nav-links" id="navLinks">
    <li><a data-nav="about" href="/about">About</a></li>
    <li><a data-nav="packages" href="/packages">Packages</a></li>
    <li><a data-nav="portfolio" href="/portfolio">Portfolio</a></li><li><a data-nav="films" href="/films">Films</a></li><li><a data-nav="locations" href="/locations/">Locations</a></li><li><a data-nav="blog" href="/blog/">Journal</a></li>
    <li><a href="/#reviews">Reviews</a></li>
    <li class="nav-mobile-cta"><a class="btn btn-solid" href="/book/">Reserve Your Date</a></li>
  </ul>
  <div class="nav-cta-wrap"><a class="btn btn-solid nav-cta" href="/book/">Reserve</a></div>
  <button class="burger" id="burger" aria-label="Menu"><span></span><span></span><span></span></button>
</nav>
